/*
  Stylesheet for website
  Table of Contents:
  - General css
  - body
    - Header
*/

/* General CSS */
body,html{
  height:100%;
}
body{
  /* margin-top: -20px; */
  /*  Having some whitespace at top for some reason*/
}
* {
  box-sizing: border-box;
}
/*  Body */
  /* bg-img */
.bg-img{
  height: 80%;
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
}
#content{
  height: 100%;
}
/* https://www.w3schools.com/howto/howto_css_bg_change_scroll.asp  */
  /*  Nav Bar */
.NavBar{
  background-color: #333;
  overflow: hidden;
}
.NavBar a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavBar a:hover{
  background-color: #ddd;
  color:black;
}

.NavBar a.active{
  background-color: #4CAF50;
  color:white;
}
  /* Make navbar sticky  */
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

  /*  Header */
.header{
  background-image: url("../imgAssets/SoccerFieldOG.jpg");
  margin-top: -20px;
}
  /* About Me */
.AboutMe{
  /* background-image: url("../imgAssets/abstract-art-artistic-1020315.jpg"); */
  background-color: coral;
}
  /*  GenInfo */
.GenInfo{
  background-image: url("../imgAssets/architecture-background-buildings-218983.jpg");
}
  /*  Repos */
.repos{
  background-image: url("../imgAssets/background-blur-clean-531880.jpg");
}
  /* Social Information */
.Social{
  background-image: url("../imgAssets/background-boardwalk-clouds-808465.jpg");
}
